@font-face {
  font-family: 'DanaYadAlefAlefAlef-Normal';
  src: local('DanaYadAlefAlefAlef-Normal'),
    url(./fonts/DanaYadAlefAlefAlef-Normal.woff) format('woff');
}

$header-height: 60px;
$footer-height: 80px;
$main-color: #007bff;
$owners-color: #005abb;
$related-color: #ff530f;
$padding-for-view-with-header: calc($header-height + 15px);
$padding-for-view-with-footer: calc($footer-height + 60px);

html:lang(en) .petek-text {
  font-size: 22px;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: $padding-for-view-with-header;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;

  &.app-page {
    padding-bottom: $padding-for-view-with-footer;
  }

  &.visible {
    bottom: auto;
    opacity: 1;
    pointer-events: all;
    overflow: auto;
    text-align: center;
  }
}

.App {
  .app-header,
  .modal-header,
  .page-header {
    background-color: white;
    height: $header-height;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    .close-modal-button {
      font-size: 20px;
      color: $main-color;
    }
  }

  .app-header {
    .user-button {
      position: absolute;
      right: 14px;
      font-size: 18px;
      color: $main-color;
      font-weight: bold;
      text-align: right;
      letter-spacing: -0.5px;
    }

    .buttons-container {
      position: absolute;
      left: 14px;
      font-size: 30px;
      display: flex;

      .page-button {
        margin-right: 15px;
      }

      .statistics-button {
      }
    }
  }

  .app-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: $footer-height;
    background-color: white;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .footer-button {
      display: flex;
      flex-direction: column;

      .footer-button-icon {
        font-size: 30px;

        .user-picture-container {
          position: static;

          .user-picture {
            margin: 0;
          }
        }
      }

      .footer-button-label {
        font-size: 16px;
      }
    }
  }
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 36px;
}

.main-submit-button {
  width: 90%;
  margin: auto;
  max-width: 350px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  border: 3px solid white;
  background-color: $main-color;

  &.filter-button.has-filter {
    position: fixed;
    bottom: 20px;
  }
}

.filtered-by-owner-container {
  .picture {
    position: relative;
    display: inline-block;

    .crown {
      position: absolute;
      top: -21px;
      right: 4px;
      font-size: 44px;
      transform: rotate(38deg);
    }

    img {
      border-radius: 50%;
      height: 120px;
      width: 120px;
      object-fit: cover;
    }
  }

  .name {
    font-size: 30px;
  }

  .statistics {
    margin-top: 10px;
    font-size: 18px;
  }
}

.petek-list-container {
  width: 100%;
}

.petek-container {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &.hidden {
    display: none;
  }

  .delete-button {
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 16px;
  }

  &:last-child {
    border-bottom: none;
  }

  .petek-owner {
    text-align: right;
    color: #5a5858;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .picture {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .crown {
        position: absolute;
        top: -11px;
        right: -2px;
        font-size: 20px;
        transform: rotate(38deg);
      }

      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .petek-time {
      text-align: right;
      color: #aea8a8;
      width: 100%;
      font-size: 15px;
    }
  }

  .petek-footer {
    width: 100%;
    margin-top: 15px;
    display: flex;
  }

  .comments-preview {
    width: 100%;
    margin-top: 10px;
    text-align: right;

    .title {
      margin: 10px;
      margin-right: 0;
    }

    .total-comments-message {
      margin: 10px 0;
      color: blueviolet;
    }
  }

  .click-to-comment {
    background-color: #e3e3e3;
    width: 100%;
    text-align: right;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
  }

  .messages-count-container {
    display: flex;
    margin-bottom: 3px;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 2px;

    .message-icon {
      height: 20px;
      width: 20px;
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  .petek-text {
    color: #000;
    background: #ffc;
    display: block;
    padding: 12px;
    min-height: 60px;
    margin: 15px 0;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.31);
    transform: rotate(-3deg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: transform 0.15s linear;
    font-family: 'DanaYadAlefAlefAlef-Normal', 'Dancing Script';
    font-size: 22px;

    div {
      text-align: right;
    }

    .petek-situation {
      font-family: 'Fredoka', sans-serif;
      font-style: italic;
      margin-bottom: 10px;
      text-align: right;
      width: 100%;
      font-size: 15px;
      border-bottom: 1px dotted #000;
      padding-bottom: 8px;
    }
  }

  .rating-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    font-size: 18px;

    .rating-star {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1200px-Gold_Star.svg.png);
      height: 22px;
      width: 22px;
      margin-right: 3px;
      background-size: 100%;
    }
  }

  // &:nth-child(2n + 1) .petek-text {
  //   // background-color: #dfdbdb;
  // }

  // &:nth-child(2n + 2) .petek-text {
  //   background-color: $main-color;
  //   color: white;
  // }

  &:nth-child(even) .petek-text {
    transform: rotate(3deg);
    // position:relative;
    // top:5px;
    background: #cfc;
  }
  &:nth-child(3n) .petek-text {
    transform: rotate(-3deg);
    // position:relative;
    // top:-5px;
    background: #ccf;
  }
  &:nth-child(5n) .petek-text {
    transform: rotate(2deg);
    // position:relative;
    // top:-10px;
  }
}

.modal {
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 20px;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  .modal-header {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.page .page-header {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.search-page {
  .category-input-container {
    position: relative;
    width: 100%;
  }

  .clear-category-text {
    position: absolute;
    left: 16px;
    top: 15px;
    font-size: 24px;
    color: #aaa;
  }
}

.modal {
  .modal-body {
    padding-top: $padding-for-view-with-header;
    width: 100%;
  }

  .input {
    width: 100%;
    height: $header-height;
    font-family: 'Fredoka', sans-serif;
    font-weight: 100;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    -webkit-appearance: none;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 0 10px;
  }

  .modal-body {
    .owners-list-container {
      display: flex;
      margin-bottom: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .set-owner-button,
    .set-related-button,
    .set-commenter-button {
      background-color: $owners-color;
      border-radius: 2px;
      color: white;
      padding: 10px;
      font-size: 20px;
      font-weight: 400;
      margin-left: 10px;
      margin-bottom: 10px;
      border: 2px solid $owners-color;
    }
  }
}

.related-tag,
.category-tag {
  background-color: $owners-color;
  border-radius: 2px;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid $owners-color;
}

.modal {
  .modal-body {
    .category-tag {
      font-size: 16px;
    }

    .set-owner-button.selected,
    .category-tag.selected {
      background-color: white;
      border: 2px solid $owners-color;
      color: $owners-color;
    }
  }

  .input.long-input {
    resize: none;
    height: 140px;
    padding: 10px;
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;

    .title {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  .upload-photo-container {
    .upload-button {
      border: 3px solid $main-color;
      color: $main-color;
      width: 100%;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      position: relative;

      .emoji {
        font-size: 60px;
      }

      .input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .uploaded-photo {
      width: 100%;
      margin-top: 10px;
    }
  }

  .relation-container .related-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .commenters-container .commenters-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .modal-body .set-related-button {
    background-color: $related-color;
    border: 2px solid $related-color;
  }
}

.related-tag {
  background-color: $related-color;
  border: 2px solid $related-color;
}

.petek-container {
  .related-tag,
  .category-tag {
    font-size: 14px;
    padding: 5px;
    margin: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .related-tag {
    font-size: 15px;
    padding: 5px 6px;
    border-radius: 30px;
    margin-bottom: 5px;

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin-left: 6px;
      object-fit: cover;
    }
  }

  .petek-photo {
    width: 100%;
    margin-top: 10px;
  }
}

.related-tags-container,
.categories-tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 0;
  width: 100%;

  /* margin: 5px 0; */
}

.modal .modal-body {
  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .stars-container {
      display: flex;
      direction: ltr;
    }

    .star {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1200px-Gold_Star.svg.png);
      height: 40px;
      width: 40px;
      background-size: 100%;
      margin: 0 5px;
      filter: grayscale(1);
      transition: filter 0.3s ease-in-out;

      &.selected {
        filter: grayscale(0);
      }
    }

    .rating-search-type-container {
      font-size: 22px;
      width: 160px;
      display: flex;
      height: 60px;
      justify-content: center;
      align-items: center;
      border: 2px solid $owners-color;
      margin-top: 20px;
      border-radius: 5px;
      background-color: $owners-color;
      color: white;

      .search-type-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;

        &.selected {
          background-color: white;
          color: $owners-color;
        }
      }
    }
  }

  .set-related-button.selected {
    background-color: white;
    border: 2px solid $related-color;
    color: $related-color;
  }

  .set-commenter-button.selected {
    background-color: white;
    border: 2px solid $owners-color;
    color: $owners-color;
  }
}

.separator {
  &::before,
  &::after {
    content: ' ';
    height: 1px;
    width: 130px;
    background-color: #ccc;
    display: block;
  }

  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.search-button {
  position: fixed;
  bottom: calc($footer-height + 10px);
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f48fb1;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }

  .clear-button {
    background-color: $main-color;
    font-size: 18px;
    margin-right: 10px;
    flex-direction: column;
  }

  .indicator {
    content: ' ';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.search-page .filter-summary-container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  .summary {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 18px;

    .clear-search-button {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}

.statistics-page {
  .section-container {
    width: 100%;
  }

  .statistic-container {
    width: 100%;
    text-align: right;
    margin: 10px 0;
    padding: 20px 0;

    .metadata-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
      font-size: 20px;

      .name-and-rating-container {
        display: flex;

        .average-rating {
          margin-right: 10px;
        }
      }
    }

    .count-graph {
      height: 20px;
      background-color: $main-color;
      animation: grow 2s ease-in-out;
      transform-origin: right;
    }
  }
}

.sign-in-page {
  .input {
    text-align: center;
  }

  .error-message {
    color: red;
    margin: 15px 0;
  }
}

.permission-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  .modal {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;

    .emoji {
      font-size: 60px;
    }
  }
}

.user-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .crown {
    position: absolute;
    top: -11px;
    right: -2px;
    font-size: 20px;
    transform: rotate(38deg);
  }

  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.story-page {
  height: 100%;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  .story-background {
    filter: blur(30px);
    background-size: cover;
    background-position: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .page-header {
    background-color: transparent;
    border: none;
    align-items: center;

    .title {
      pointer-events: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-top: 20px;

      .picture img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: 15px;
      }
    }

    .close-button {
      margin-top: 10px;
      color: white;
    }
  }

  .story-length {
    height: 3px;
    width: 90%;
    background: #ccc;
    position: absolute;
    top: 80px;
    margin: auto;
    direction: ltr;

    .length {
      animation: story-length 10s linear;
      background: white;
      height: 100%;
    }
  }

  .story-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    &.next-button {
      right: 0;
    }

    &.prev-button {
      left: 0;
    }
  }

  .petek-container {
    background: white;
    border-radius: 10px;
  }
}

.petek-page {
  .modal-body {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .petek-container {
    padding: 0;
    border-bottom: none;

    .rating-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
  }

  .comment-input-container {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: white;

    .comment-input {
      height: 50px;
      width: calc(100% - 50px - 10px);
      border: none;
      font-size: 16px;
      font-family: 'Fredoka', sans-serif;
      padding: 0 10px;
      border: 3px $main-color solid;
      outline: none;
    }

    .submit-button {
      transform: rotate(-137deg);
      border: 3px $main-color solid;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .not-connected-message {
      color: black;
      margin: auto;
    }
  }

  .empty-comments-placeholder {
    font-size: 20px;
  }

  .register-link {
    color: blueviolet;
  }

  .coming-soon {
    background-color: #ff4040;
    border: 3px solid white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transform: rotate(-10deg);
    color: white;
    font-size: 32px;
    margin: 50px auto;
    margin-bottom: 80px;
    padding: 5px;
    border-radius: 3px;
    animation: rotate-coming-soon 0.6s ease-in-out forwards;
  }
}

.comment-container {
  display: flex;
  margin-bottom: 20px;

  .bubble-and-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;

    .comment-bubble {
      background-color: #e3e3e3;
      width: 100%;
      text-align: right;
      border-radius: 7px;
      padding: 10px;

      .owner-name {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .date {
      margin-top: 3px;
      color: #aea8a8;
      font-size: 15px;
    }
  }
}

.loading-container {
  padding: 50px;

  &.small {
    padding: 30px;

    .stage {
      font-size: 40px;
    }

    .text {
      font-size: 15px;
    }
  }

  .stage {
    font-size: 70px;
    animation: icon-popup 1s ease-in-out infinite;
  }

  .text {
    font-size: 20px;
  }
}

.user-picture-container {
  position: absolute;
  right: 60px;
}

.menu-button {
  position: absolute;
  right: 14px;
  font-size: 18px;
  display: flex;

  .point {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: $main-color;

    &:nth-child(3n + 1) {
      animation: jump 3s 5s ease-in-out infinite;
    }
    &:nth-child(3n + 2) {
      animation: jump 3s 5.7s ease-in-out infinite;
    }
    &:nth-child(3n) {
      animation: jump 3s 6.4s ease-in-out infinite;
    }
  }
}

.app-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  z-index: 1;
  transform: translateX(300px);
  transition: transform 0.3s ease-in-out;
  padding: 20px;

  &.visible {
    transform: translateX(0);
  }

  .close-button {
    position: absolute;
    left: 20px;
    top: 28px;
    font-size: 25px;
    font-weight: bold;
  }

  .logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .menu-item {
    font-size: 25px;
    margin: 18px 0;

    .current-user-container {
      display: flex;
      align-items: center;

      .user-picture {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-block;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;

    .user-picture {
      margin: auto;
      margin-bottom: 3px;
    }

    .all-rights-reserved {
      display: flex;
      justify-content: center;
      align-items: center;

      .c-logo {
        font-size: 20px;
        margin-left: 5px;
        margin-top: 2px;
      }
    }

    .all-rights-reserved-name {
      text-align: center;
    }
  }
}

.notifications-page {
  .modal-body {
    padding-top: 40px;

    .notifications-container {
      .notification-container {
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        text-align: right;
        display: flex;

        .notification-content {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .date {
          margin-top: 3px;
          color: #aea8a8;
          font-size: 15px;
        }
      }
    }
  }
}

.admin-page {
  .modal-body {
    padding-top: 50px;

    .admin-owner-list {
      .owner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
        padding: 20px;
        margin: 10px 0;

        &.empty {
          border: 5px solid red;
        }

        .owner-name {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .user-picture-container {
          position: relative;
          margin: auto;
          left: 0;
          right: 0;
          margin-bottom: 6px;

          .upload-user-picture-input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            bottom: 0;
          }
        }

        .owner-phone-number {
          width: 100%;

          .input {
            direction: ltr;
            width: 100%;
            text-align: center;
          }
        }

        .update-button {
          text-align: center;
          color: $main-color;
        }
      }
    }
  }
}

.comments-summary {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  overflow: scroll;
  padding-right: 10px;
  padding-left: 10px;

  .comment-summary-item-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .comment-summary-item {
      border: 3px solid $main-color;
      padding: 3px;
      border-radius: 50%;

      .user-picture {
        margin-left: 0;
        height: 60px;
        width: 60px;
      }
    }

    .owner-name {
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 2px;
    }
    .comments-length {
      font-size: 12px;
      background: red;
      color: white;
      border-radius: 20px;
      font-weight: bold;
      padding: 2px 0;
    }
  }
}

.petek-list-order-toggle {
  display: flex;
  border-radius: 3px;
  width: 88%;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
  border: 2px solid $owners-color;

  .button {
    width: 50%;
    background-color: $owners-color;
    color: white;
    font-size: 16px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      color: $owners-color;
      background-color: white;
    }
  }
}

@keyframes icon-popup {
  0% {
    transform: scale(0) rotate(-90deg);
  }

  50% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(0) rotate(90deg);
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes story-length {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotate-coming-soon {
  0% {
    transform: rotate(-800deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
