:root {
  --header-height: 60px;
  --main-color: #007bff;
  --owners-color: #005abb;
  --related-color: #ff530f;
  --padding-for-view-with-header: calc(var(--header-height) + 15px);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: var(--padding-for-view-with-header);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}

.page.visible {
  opacity: 1;
  pointer-events: all;
  overflow: auto;
  text-align: center;
}

.App .app-header,
.App .modal-header,
.App .page-header {
  background-color: white;
  height: var(--header-height);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.App .app-header .statistics-button {
  position: absolute;
  left: 14px;
  font-size: 30px;
}

.App .app-header .logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 36px;
}

.main-submit-button {
  width: 90%;
  margin: auto;
  max-width: 350px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  border: 3px solid white;
  background-color: var(--main-color);
}

.main-submit-button.filter-button.has-filter {
  position: fixed;
  bottom: 20px;
}

.petek-list-container {
  width: 100%;
}

.petek-container {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.petek-container .delete-button {
  position: absolute;
  left: 14px;
  top: 7px;
  font-size: 16px;
}

.petek-container:last-child {
  border-bottom: none;
}

.petek-container .petek-owner {
  text-align: right;
  color: #5a5858;
  width: 100%;
}

.petek-container .petek-footer {
  width: 100%;
  margin-top: 15px;
}

.petek-container .petek-time {
  text-align: left;
  color: #5a5858;
  width: 100%;
}

.petek-container .petek-text {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 3px 0;
  font-size: 24px;
  text-align: right;
  font-size: 16px;
}

.petek-container .petek-situation {
  font-style: italic;
  margin-top: 3px;
  text-align: right;
  width: 100%;
}

.petek-container .rating-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 3px;
  font-size: 18px;
}

.petek-container .rating-container .star {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1200px-Gold_Star.svg.png);
  height: 22px;
  width: 22px;
  margin-right: 3px;
  background-size: 100%;
}

.petek-container:nth-child(2n + 1) .petek-text {
  background-color: #dfdbdb;
}

.petek-container:nth-child(2n + 2) .petek-text {
  background-color: var(--main-color);
  color: white;
}

.modal {
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 20px;
}

.modal.visible {
  opacity: 1;
  pointer-events: all;
}

.modal .modal-header,
.page .page-header {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.search-page .category-input-container {
  position: relative;
  width: 100%;
}

.search-page .clear-category-text {
  position: absolute;
  left: 16px;
  top: 15px;
  font-size: 24px;
  color: #aaa;
}

.modal .modal-body {
  padding-top: var(--padding-for-view-with-header);
  width: 100%;
}

.modal .input {
  width: 100%;
  height: var(--header-height);
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  -webkit-appearance: none;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 0 10px;
}

.modal .modal-body .owners-list-container {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.modal .modal-body .set-owner-button,
.modal .modal-body .set-related-button,
.related-tag,
.category-tag {
  background-color: var(--owners-color);
  border-radius: 2px;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--owners-color);
}

.modal .modal-body .category-tag {
  font-size: 16px;
}

.modal .modal-body .set-owner-button.selected,
.modal .modal-body .category-tag.selected {
  background-color: white;
  border: 2px solid var(--owners-color);
  color: var(--owners-color);
}

.modal .input.long-input {
  resize: none;
  height: 140px;
  padding: 10px;
}

.modal .section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.modal .section-container .title {
  font-size: 25px;
  margin-bottom: 20px;
}

.modal .relation-container .related-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal .modal-body .set-related-button,
.related-tag {
  background-color: var(--related-color);
  border: 2px solid var(--related-color);
}

.petek-container .related-tag,
.petek-container .category-tag {
  font-size: 14px;
  padding: 5px;
  margin: 0;
  margin-left: 5px;
}

.related-tags-container,
.categories-tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 0;
  width: 100%;
  /* margin: 5px 0; */
}

.modal .modal-body .rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal .modal-body .rating-container .stars-container {
  display: flex;
  direction: ltr;
}

.modal .modal-body .rating-container .star {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1200px-Gold_Star.svg.png);
  height: 40px;
  width: 40px;
  background-size: 100%;
  margin: 0 5px;
  filter: grayscale(1);
  transition: filter 0.3s ease-in-out;
}

.modal .modal-body .rating-container .star.selected {
  filter: grayscale(0);
}

.modal .modal-body .set-related-button.selected {
  background-color: white;
  border: 2px solid var(--related-color);
  color: var(--related-color);
}

.separator::before,
.separator::after {
  content: " ";
  height: 1px;
  width: 130px;
  background-color: #ccc;
  display: block;
}

.separator {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.search-button {
  position: fixed;
  bottom: 60px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f48fb1;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.search-button .clear-button {
  background-color: var(--main-color);
  font-size: 18px;
  margin-right: 10px;
  flex-direction: column;
}

.search-button .indicator {
  content: " ";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-page .filter-summary-container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.search-page .filter-summary-container.visible {
  opacity: 1;
  pointer-events: all;
}

.search-page .filter-summary-container .summary {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 18px;
}

.search-page .filter-summary-container .summary .clear-search-button {
  margin-top: 10px;
  font-weight: bold;
}

.statistics-page .section-container {
  width: 100%;
}

.statistics-page .statistic-container {
  width: 100%;
  text-align: right;
  margin: 10px 0;
  padding: 20px 0;
}

.statistics-page .statistic-container .metadata-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 20px;
}

.statistics-page .statistic-container .count-graph {
  height: 20px;
  background-color: var(--main-color);
  animation: grow 2s ease-in-out;
  transform-origin: right;
}

.loading-container {
  padding: 50px;
}

.loading-container.small {
  padding: 30px;
}
.loading-container.small .stage {
  font-size: 40px;
}

.loading-container.small .text {
  font-size: 15px;
}

.loading-container .stage {
  font-size: 70px;
  animation: icon-popup 1s ease-in-out infinite;
}

.loading-container .text {
  font-size: 20px;
}

@keyframes icon-popup {
  0% {
    transform: scale(0) rotate(-90deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(90deg);
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
