:root {
  --header-height: 60px;
  --main-color: #007bff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--header-height) + 15px);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.App .app-header {
  background-color: white;
  height: var(--header-height);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App .app-header .logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 36px;
}

.add-new-petek-button {
  width: 90%;
  max-width: 350px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  border: 3px solid white;
  background-color: var(--main-color);
}

.petek-list-container {
  width: 100%;
}

.petek-container {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petek-container .petek-owner {
  text-align: right;
  color: #999;
  width: 100%;
}

.petek-container .petek-time {
  text-align: left;
  color: #999;
  width: 100%;
}

.petek-container .petek-text {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 3px 0;
  font-size: 24px;
  text-align: right;
  font-size: 16px;
}

.petek-container:nth-child(2n + 1) .petek-text {
  background-color: #dfdbdb;
}

.petek-container:nth-child(2n + 2) .petek-text {
  background-color: var(--main-color);
  color: white;
}

.new-petek-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.new-petek-modal-container.visible {
  opacity: 1;
  pointer-events: all;
}
