:root {
  --header-height: 60px;
  --main-color: #007bff;
  --owners-color: #005abb;
  --related-color: #FF530F;
  --padding-for-view-with-header: calc(var(--header-height) + 15px);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--padding-for-view-with-header);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.App .app-header,
.App .modal-header {
  background-color: white;
  height: var(--header-height);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App .app-header .logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 36px;
}

.add-new-petek-button {
  width: 90%;
  max-width: 350px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  border: 3px solid white;
  background-color: var(--main-color);
}

.petek-list-container {
  width: 100%;
}

.petek-container {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petek-container .petek-owner {
  text-align: right;
  color: #5a5858;
  width: 100%;
}

.petek-container .petek-time {
  text-align: left;
  color: #5a5858;
  width: 100%;
  margin-top: 15px;
}

.petek-container .petek-text {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 3px 0;
  font-size: 24px;
  text-align: right;
  font-size: 16px;
}

.petek-container .petek-situation {
  font-style: italic;
  margin-top: 3px;
  text-align: right;
  width: 100%;
}

.petek-container:nth-child(2n + 1) .petek-text {
  background-color: #dfdbdb;
}

.petek-container:nth-child(2n + 2) .petek-text {
  background-color: var(--main-color);
  color: white;
}

.new-petek-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 20px;
}

.new-petek-modal-container.visible {
  opacity: 1;
  pointer-events: all;
}

.new-petek-modal-container .modal-header {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.new-petek-modal-container .modal-body {
  padding-top: var(--padding-for-view-with-header);
}

.new-petek-modal-container .input {
  width: 100%;
  height: var(--header-height);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  font-size: 20px;
  padding: 0 10px;
}

.new-petek-modal-container .modal-body .owners-list-container {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.new-petek-modal-container .modal-body .set-owner-button,
.new-petek-modal-container .modal-body .set-related-button  {
    background-color: var(--owners-color);
    border-radius: 2px;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 10px;
}

.new-petek-modal-container .input.long-input {
  resize: none;
  height: 140px;
}

.new-petek-modal-container .relation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.new-petek-modal-container .relation-container .title {
  font-size: 25px;
  margin-bottom: 10px;
}

.new-petek-modal-container .relation-container .related-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-petek-modal-container .modal-body .set-related-button {
  background-color: var(--related-color);
}

.separator::before,
.separator::after {
  content: ' ';
  height: 1px;
  width: 130px;
  background-color: #ccc;
  display: block;
}

.separator {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
